/* Main */

.main-btn-bundle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.upload-btn,
.lookbook-btn {
  color: white;
  background-color: rgb(240, 130, 10);
  padding: 20px;
  margin: 10px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.2s;
}

.upload-btn:hover,
.upload-btn:focus,
.lookbook-btn:hover,
.lookbook-btn:focus {
  background-color: rgb(215, 110, 10);
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

@media (max-width: 768px) {
  .upload-btn,
  .lookbook-btn {
    padding: 15px;
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .upload-btn,
  .lookbook-btn {
    padding: 10px;
    font-size: 18px;
    margin: 5px;
  }
}

