/* Category */

.category {
  padding: 20px;
  padding-bottom: 20px;
}

.category select {
  border: 2px solid rgb(175, 175, 175);
  color: black;
  text-align: center;
  max-width: 680px;
  height: 40px;
  padding: 0px 20px;
  border-radius: 0.5rem;
  font-size: 13px;
  font-weight: 700;
}
