.photoSwiper {
  width: 560px;
  height: 800px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 60%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 60%;
}

.swiper-slide p {
  color: white;
  font-weight: 500;
  margin-bottom: 5px;
  font-weight: bold;
}

.category-btn-bundle-clothes {
  margin-left: 30px;
  text-align: center;
}

.category-btn-clothes {
  text-align: center;
  color: white;
  background-color: #78c7d2;
  margin: 10px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 15px;
  font-weight: 800;
}

.category-btn-clothes:hover,
.category-btn-clothes:focus {
  background-color: #78c7d2;
}

.daliy-look-btn-clothes {
  text-align: center;
  color: white;
  background-color: #78c7d2;
  margin: 10px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 15px;
  font-weight: 800;
}

.daliy-look-btn-clothes:hover,
.daliy-look-btn-clothes:focus {
  background-color: #78c7d2;
}
