/* ClothesCategory */

.clothescategory {
  padding: 20px;
  padding-bottom: 20px;
background: transparent;
}

.category-option {
  background: black;
}

.clothescategory select {
  border: 2px solid rgb(175, 175, 175);
  color: white;
  text-align: center;
  max-width: 680px;
  height: 40px;
  padding: 0px 20px;
  border-radius: 0.5rem;
  font-size: 13px;
  font-weight: 700;
  text-align-last: center;
  background: transparent;
}

.clothescategory select option {
  text-align: left;
}