.form--lg {
    min-height: 70vh;
    margin-top: 10vh;
  }
  
  .form__title {
    text-align: center;
    margin-bottom: 4px;
  }
  
  .form__link {
    margin-left: 10px;
    text-decoration: none;
    color: gray;
  }
  
  .form__link:hover,
  .form__link:focus {
    color: black;
  }
  
  .form__error {
    color: red;
  }
  
  .form select {
    border: 1px solid lightgray;
    max-width: 680px;
    height: 40px;
    padding: 0px 20px;
    font-size: 16px;
    border-radius: 0.3rem;
  }