/* ClothesUpload */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

.image-clothes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  padding: 5px;
  border: none;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

.image-area-clothes {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  max-width: 500px;
  max-height: 700px;
}

.image-select {
  display: none;
}

.image-area__file-clothes {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  background-color: #78c7d2;
  border-radius: 5px;
  border: none;
  color: white;
  margin-bottom: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.2s;
}

.image-attachment {
  padding: 10px;
  width: 75%;
  height: 75%;
}

.image-submit-btn {
  margin-top: 10px;
}

.image-clear-btn {
  margin-top: 10px;
}

.temperature-input-clothes {
  border: 2px solid rgb(175, 175, 175);
  color: black;
  text-align: center;
  height: 20px;
  padding: 5px 0px;
  border-radius: 0.5rem;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 16px;
}

.clothes-category {
  border: 2px solid rgb(175, 175, 175);
  color: black;
  text-align: center;
  height: 40px;
  padding: 5px 0px;
  border-radius: 0.5rem;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
  width: 75%;
}

.main-btn-clothes,
.image-submit-btn-clothes,
.image-clear-btn-clothes {
  color: white;
  background-color: #78c7d2;
  margin: 10px;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 15px;
  font-weight: 800;
  transition: background-color 0.3s, transform 0.2s;
}

.main-btn-clothes:hover,
.main-btn-clothes:focus,
.image-submit-btn-clothes:hover,
.image-submit-btn-clothes:focus,
.image-clear-btn-clothes:hover,
.image-clear-btn-clothes:focus,
.image-area__file-clothes:hover,
.image-area__file-clothes:focus {
  background-color: #2e85d1;
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

@media (max-width: 768px) {
  .image-area__file-clothes,
  .main-btn-clothes,
  .image-submit-btn-clothes,
  .image-clear-btn-clothes {
    padding: 10px 15px;
    font-size: 14px;
  }

  .temperature-input-clothes,
  .clothes-category-clothes {
    font-size: 14px;
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .image-area__file-clothes,
  .main-btn-clothes,
  .image-submit-btn-clothes,
  .image-clear-btn-clothes {
    padding: 8px 10px;
    font-size: 12px;
    margin: 5px;
  }

  .temperature-input-clothes,
  .clothes-category-clothes {
    font-size: 12px;
    padding: 3px;
  }
}
