html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  position: relative;
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form .form__btn--submit {
  position:relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background-color: var(--primary-color);
  border: none;
  border-radius: var(--input-border-radius);
  cursor: pointer;
  font-weight: bold;
}

.login-box form .form__btn--submit:hover,
.login-box form .form__btn--submit:focus {
  background-color: var(--secondary-color);
  transform: scale(1.05);
}

.login-box .form__link {
  margin-left: 10px;
  text-decoration: none;
  color: var(--link-color);
  transition: color 0.3s;
}

.login-box .form__link:hover,
.login-box .form__link:focus {
  color: gray;
}

.form__error {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}

.form__block {
  color: white;
  text-align: center;
}

.form__block--loginbutton {
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .login-box {
    width: 90%;
    padding: 30px;
  }

  .login-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .login-box .user-box input {
    padding: 8px 0;
    font-size: 14px;
  }

  .login-box .user-box label {
    font-size: 14px;
  }

  .login-box form .form__btn--submit {
    padding: 8px 16px;
    font-size: 14px;
    margin-top: 30px;
  }

  .login-box .form__link {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .login-box {
    width: 100%;
    padding: 20px;
  }

  .login-box h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .login-box .user-box input {
    padding: 6px 0;
    font-size: 12px;
  }

  .login-box .user-box label {
    font-size: 12px;
  }

  .login-box form .form__btn--submit {
    padding: 6px 12px;
    font-size: 12px;
    margin-top: 20px;
  }

  .login-box .form__link {
    font-size: 12px;
  }
}